extends layout

block content

	h1=title


	if messages
		h2 Page tested: #{messages[0].url}
		h3 WCAG Success Criterion #{messages[0].wcag}
		ul()
			each message in messages
				li(class="#{message.stl}") #{message.message}

	p
		a(href="/") Search again